/* Reset básico para eliminar possíveis estilos padrão do navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilização do body para ocupar 100% da altura e permitir alinhamento dos itens ao centro */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f3f3f3;
  font-family: Arial, sans-serif;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#login-form input {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#login-form button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

#mensagem {
  color: #007bff;
  text-align: center;
}
